---
import Layout from "../../layouts/Layout.astro";
import { ResetPasswordForm } from "../../components/auth/ResetPasswordForm";

export const prerender = false;

const resetToken = Astro.url.searchParams.get("token");
---

<Layout title="Resetowanie hasła - 10x Cards">
  <div class="container mx-auto px-4 py-8 max-w-md">
    <ResetPasswordForm resetToken={resetToken} client:load />
  </div>
</Layout>
